.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  padding: 15px;
  outline: 1px solid rgb(192, 191, 191);
  border-radius: 5px;
  background-color: white;
  margin-bottom: 10px;
}

.card__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card > h2 {
  margin-bottom: 20px;
}

.card > p {
  overflow: hidden;
  line-height: 16px;    
  max-height: 48px;
  margin-bottom: 20px;
}

.card__purchase {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.card__price {
  font-size: 1.5rem;
  font-weight: 600;
}

.card__purchase > button {

  background-color: rgb(255, 236, 226);
  border: none;
  border-radius: 15px;
  color: rosybrown;

  font-size: 1rem;
  font-weight: 600;

  padding: 10px 20px;
}